
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap')
$typography-font-family: "Funnel Sans" , sans-serif

.text-accent
      font-family: 'Bevan' , sans-serif


$primary   : #1B1B2F  // Tiefes Schwarz (Hintergrund)
$secondary : #1B1B2F  // Dunkles Mitternachtsblau
$accent    : #5D00FF  // Neonschimmerndes Violett (Akte)
$dark      : #101820  // Dunkelblau-Schwarz (Kontrast)

$positive  : #4DFFFA  // Helles Cyan (für positive Elemente)
$negative  : #FF004D  // Neonrot (für Warnungen oder Fehler)
$info      : #8D6EFF  // Leuchtendes Lila (für Infos)
$warning   : #FF9800  // Neonorange (für Warnhinweise)